

::-webkit-scrollbar{
  width:0.5rem;
}

/* Foreground */
::-webkit-scrollbar-thumb{
  background:#ff8800;
  border-radius:1rem;
}

 /* Background  */
::-webkit-scrollbar-track{
 background:whitesmoke;
}

.styled-scrollbars{
  scrollbar-color: #ff8800 transparent;
}
#content{
  padding-top: 10rem;
}
@media only screen and (max-width:940px ) {

  #content{
      padding-top: 8.5rem;
  }
}

